/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
  overflow-y: auto;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: black;
  padding-top: 80px; /* Ajusta este valor según la altura del header */
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 20px; /* Añade padding para evitar que el contenido toque los bordes */
}

/* Header Styles */
.header {
  background-color: black; /* El fondo para ver las partículas */
  color: #fff;
  padding: 10px; /* Ajusta el padding inicial */
  position: fixed; /* Asegura que el header se mantenga en la parte superior */
  width: 100vw; /* Asegura que el header ocupe todo el ancho */
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  transition: padding 0.3s; /* Transición suave al cambiar el padding */
  max-width: 100%;
  box-sizing: border-box;
}

/* Contenedor de partículas */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /* Asegura que esté detrás del contenido */
}

/* Asegura que el contenido del header esté por encima de las partículas */
.header .container {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima de las partículas */
}

/* Logo Styles */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: opacity 0.3s, height 0.3s; /* Transición suave para opacidad y altura */
}

.logo img {
  height: 180px; /* Ajusta la altura según sea necesario */
  width: auto;
  max-width: 100%; /* Asegura que la imagen no cause desbordamiento */
  transition: height 0.3s; /* Transición suave para la altura del logo */
}

/* Reducir el tamaño del logo y el padding del header cuando se hace scroll */
.header.shrink {
  padding: 1px 0; /* Reduce el padding del header */
}

.header.shrink .logo img {
  height: 1px; /* Reduce la altura del logo */
}

/* Menú de Navegación */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2; /* Ajusta el espacio para el menú de navegación */
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.nav-list a:hover {
  background-color: #1cace4;
  border-radius: 5px;
}

/* Responsive Menu Toggle */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    position: fixed; /* Cambiar a position: fixed */
    top: 50px; /* Asegura que el menú no cubra el toggle */
    left: 0;
    right: 0;
    justify-content: flex-start;
    align-items: center;
    z-index: 9999;
    height: auto; /* Permitir que el menú ajuste su altura automáticamente */
    max-height: calc(100vh - 50px); /* Asegura que no sobrepase la pantalla */
    overflow-y: auto; /* Añadir scroll si el contenido del menú es más largo que la pantalla */
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    margin: 15px 0;
    width: 100%;
    text-align: center;
  }

  .menu-toggle {
    display: block;
    margin-right: 20px;
  }
}

/* Hero Section */
.hero {
  width: 100%; /* Ancho de toda la ventana */
  height: 100vh; /* Altura de toda la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/sobre.png");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  overflow: hidden; /* Evita el desbordamiento */
  z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima de las partículas */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content {
  width: 100%; /* Usa todo el ancho disponible */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px; /* Ajusta el padding según sea necesario */
  box-sizing: border-box; /* Incluye el padding y border en el cálculo del ancho */
  text-align: center; /* Alinea el texto al centro */
  z-index: 1;
}

.hero-content h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem; /* Tamaño de texto mayor */
  font-weight: bold; /* Opcional: para hacerlo más destacado */
  background-image: linear-gradient(
    45deg,
    #1cace4,
    #c5cee4,
    #244c9c,
    #4c6cac,
    #14ace4,
    #3c64a4,
    #34549c
  ); /* Degradado de colores */
  background-clip: text; /* Aplicar degradado solo al texto */
  -webkit-background-clip: text; /* Compatibilidad con Webkit (Chrome, Safari) */
  color: transparent; /* Hacer el texto transparente para que se vea el degradado */
  background-size: 300% 100%; /* Tamaño del degradado mayor para una transición más suave */
  background-position: 0% 0%; /* Posición inicial del degradado */
  animation: gradientShift 6s linear infinite; /* Animación más lenta para un desplazamiento más suave */
}

.hero-content p {
  margin-bottom: 10px; /* Añade un margen en la parte inferior del párrafo */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1cace4;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #244c9c;
  transform: scale(1.05);
}

/* Ajustes para pantallas muy pequeñas (teléfonos móviles) */
@media (max-width: 480px) {
    .hero-content h1 {
      font-size: 2rem; /* Reduce el tamaño del texto */
    }
  
    .service-item {
      width: 100%; /* Asegura que los servicios ocupen todo el ancho */
    }
  
    .nav-list {
      flex-direction: column; /* Coloca los elementos del menú en una columna */
    }
  
    .nav-list li {
      margin: 10px 0; /* Añade margen entre los elementos del menú */
    }
  }
  
  /* Ajustes para pantallas medianas (tabletas) */
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2.5rem; /* Ajusta el tamaño del texto */
    }
  
    .service-item {
      width: 100%; /* Asegura que los servicios ocupen todo el ancho */
    }
  
    .nav-list {
      flex-direction: column; /* Coloca los elementos del menú en una columna */
    }
  
    .nav-list li {
      margin: 10px 0; /* Añade margen entre los elementos del menú */
    }
  }

/* Sección Quienes Somos */
.about-us-who {
  padding: 50px 0;
  background-color: #000; /* Fondo negro */
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.about .container {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima de las partículas */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-who h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem; /* Tamaño de texto mayor */
  font-weight: bold; /* Opcional: para hacerlo más destacado */
  background-image: linear-gradient(
    45deg,
    #1cace4,
    #c5cee4,
    #244c9c,
    #4c6cac,
    #14ace4,
    #3c64a4,
    #34549c
  ); /* Degradado de colores */
  background-clip: text; /* Aplicar degradado solo al texto */
  -webkit-background-clip: text; /* Compatibilidad con Webkit (Chrome, Safari) */
  color: transparent; /* Hacer el texto transparente para que se vea el degradado */
  background-size: 300% 100%; /* Tamaño del degradado mayor para una transición más suave */
  background-position: 0% 0%; /* Posición inicial del degradado */
  animation: gradientShift 6s linear infinite; /* Animación más lenta para un desplazamiento más suave */
}

.about-us-who p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  animation: fadeIn 1.5s ease-in-out;
  text-align: justify;
}

/* Estilos de la Sección Sobre Nosotros */
.about-us {
  padding: 50px 0;
  background-color: #000; /* Fondo negro */
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.about-us .container {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima de las partículas */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  z-index: 1; /* Asegura que el título esté por encima del contenido */
}

/* Contenido del Carrusel */
.about-content {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 20px;
  flex-direction: row; /* Alinea los elementos horizontalmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
  justify-content: center;
}

.logo-container {
  flex: 1;
  max-width: 30%;
  display: flex;
  justify-content: center;
}

.company-logo {
  max-width: 310px;
  height: auto;
}

.info-blocks {
  flex: 2;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-block {
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.about-block h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem; /* Tamaño de texto mayor */
  font-weight: bold; /* Opcional: para hacerlo más destacado */
  background-image: linear-gradient(
    45deg,
    #1cace4,
    #c5cee4,
    #244c9c,
    #4c6cac,
    #14ace4,
    #3c64a4,
    #34549c
  ); /* Degradado de colores */
  background-clip: text; /* Aplicar degradado solo al texto */
  -webkit-background-clip: text; /* Compatibilidad con Webkit (Chrome, Safari) */
  color: transparent; /* Hacer el texto transparente para que se vea el degradado */
  background-size: 300% 100%; /* Tamaño del degradado mayor para una transición más suave */
  background-position: 0% 0%; /* Posición inicial del degradado */
  animation: gradientShift 6s linear infinite; /* Animación más lenta para un desplazamiento más suave */
}

.about-block p {
  font-size: 1rem;
  color: #ddd;
  text-align: justify;
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .logo-container,
  .info-blocks {
    max-width: 100%;
  }

  .info-blocks {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .about-block {
    padding: 15px;
  }

  .about-block h3 {
    font-size: 1.5rem;
  }

  .about-block p {
    font-size: 0.9rem;
  }
}


/* Estilo para la sección de valores */
#valores {
  position: relative;
  background-color: black;
  color: #f5f5f5;
  padding: 80px 0;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

/* Estilo del encabezado */
#valores h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem; /* Tamaño de texto mayor */
  font-weight: bold; /* Opcional: para hacerlo más destacado */
  background-image: linear-gradient(
    45deg,
    #1cace4,
    #c5cee4,
    #244c9c,
    #4c6cac,
    #14ace4,
    #3c64a4,
    #34549c
  ); /* Degradado de colores */
  background-clip: text; /* Aplicar degradado solo al texto */
  -webkit-background-clip: text; /* Compatibilidad con Webkit (Chrome, Safari) */
  color: transparent; /* Hacer el texto transparente para que se vea el degradado */
  background-size: 300% 100%; /* Tamaño del degradado mayor para una transición más suave */
  background-position: 0% 0%; /* Posición inicial del degradado */
  animation: gradientShift 6s linear infinite; /* Animación más lenta para un desplazamiento más suave */
}

/* Contenedor de valores */
.valores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Lista de valores */
.valores-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.valores-container li {
  font-size: 1.2em;
  margin: 15px 0;
  line-height: 1.6;
  text-align: left;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Estilo para los puntos */
.valores-container .punto {
  font-size: 1.8em;
  color: #1cace4;
  margin-right: 10px;
  vertical-align: middle;
}

/* Efecto al pasar el mouse sobre los elementos */
.valores-container li:hover {
  transform: translateY(-5px);
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsividad */
@media (max-width: 768px) {
  #valores h2 {
    font-size: 2em;
  }

  .valores-container li {
    font-size: 1.1em;
    width: 90%;
  }
}

@media (max-width: 480px) {
  #valores h2 {
    font-size: 1.8em;
  }

  .valores-container li {
    font-size: 1em;
    width: 95%;
  }
}


/*Estilo Seccion Team*/

.team-section {
    padding: 50px 0;
  background-color: #000; /* Fondo negro */
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}

.team-member {
    margin: 20px;
    text-align: center;
    width: 250px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(30, 30, 30, 0.3); /* Fondo semi-transparente */
    margin-bottom: 15px;
    object-fit: cover;
    transition: transform 0.3s ease;
    z-index: 1;
}

.team-member:hover img {
    transform: scale(1.1);
}

.team-section h2 {
    text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem; /* Tamaño de texto mayor */
  font-weight: bold; /* Opcional: para hacerlo más destacado */
  background-image: linear-gradient(
    45deg,
    #1cace4,
    #c5cee4,
    #244c9c,
    #4c6cac,
    #14ace4,
    #3c64a4,
    #34549c
  ); /* Degradado de colores */
  background-clip: text; /* Aplicar degradado solo al texto */
  -webkit-background-clip: text; /* Compatibilidad con Webkit (Chrome, Safari) */
  color: transparent; /* Hacer el texto transparente para que se vea el degradado */
  background-size: 300% 100%; /* Tamaño del degradado mayor para una transición más suave */
  background-position: 0% 0%; /* Posición inicial del degradado */
  animation: gradientShift 6s linear infinite; /* Animación más lenta para un desplazamiento más suave */
}

.team-member h3 {
    text-align: center;
  margin-bottom: 40px;
  font-size: 2.0rem; /* Tamaño de texto mayor */
  font-weight: bold; /* Opcional: para hacerlo más destacado */
  background-image: linear-gradient(
    45deg,
    #1cace4,
    #c5cee4,
    #244c9c,
    #4c6cac,
    #14ace4,
    #3c64a4,
    #34549c
  ); /* Degradado de colores */
  background-clip: text; /* Aplicar degradado solo al texto */
  -webkit-background-clip: text; /* Compatibilidad con Webkit (Chrome, Safari) */
  color: transparent; /* Hacer el texto transparente para que se vea el degradado */
  background-size: 300% 100%; /* Tamaño del degradado mayor para una transición más suave */
  background-position: 0% 0%; /* Posición inicial del degradado */
  animation: gradientShift 6s linear infinite; /* Animación más lenta para un desplazamiento más suave */
}

.team-member p {
    color: #ddd;
    font-size: 1rem;
    text-align: justify;
}


/* Contacto */
.contact {
  padding: 50px 0;
  background-color: #000; /* Fondo negro */
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.contact .container {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima de las partículas */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem; /* Tamaño de texto mayor */
  font-weight: bold; /* Opcional: para hacerlo más destacado */
  background-image: linear-gradient(
    45deg,
    #1cace4,
    #c5cee4,
    #244c9c,
    #4c6cac,
    #14ace4,
    #3c64a4,
    #34549c
  ); /* Degradado de colores */
  background-clip: text; /* Aplicar degradado solo al texto */
  -webkit-background-clip: text; /* Compatibilidad con Webkit (Chrome, Safari) */
  color: transparent; /* Hacer el texto transparente para que se vea el degradado */
  background-size: 300% 100%; /* Tamaño del degradado mayor para una transición más suave */
  background-position: 0% 0%; /* Posición inicial del degradado */
  animation: gradientShift 6s linear infinite; /* Animación más lenta para un desplazamiento más suave */
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333; /* Fondo oscuro */
  color: white; /* Texto blanco */
  border: 1px solid #555; /* Borde gris oscuro */
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1cace4;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
  background-color: #244c9c;
  transform: scale(1.05);
}

/* Footer Styles */
.footer {
  position: relative; /* Asegura que el footer sea el contenedor de referencia */
  background-color: black;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

#particles-js-footer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /* Asegura que esté detrás del contenido */
}

.footer .container {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima de las partículas */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.footer-logo img {
  height: 170px;
  width: auto;
  margin-bottom: 0px;
  max-width: 100%; /* Asegura que la imagen no cause desbordamiento */
}

.footer-contact,
.footer-social {
  flex: 1 1 300px;
  margin: 10px;
}

.footer-contact h3,
.footer-social h3 {
  margin-bottom: 10px;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
  text-align: justify;
}

.footer-social a:hover {
  color: #aaa;
  text-align: justify;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-contact,
  .footer-social {
    text-align: center;
  }
}

#particles-js-conta {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /* Asegura que esté detrás del contenido */
}

#particles-js-about-who {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /* Asegura que esté detrás del contenido */
}

#particles-js-about {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /* Asegura que esté detrás del contenido */
}
#particles-js-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Asegura que esté detrás del contenido */
  }

  #particles-js-teams {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Asegura que esté detrás del contenido */
  }

  #particles-js-valores {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Asegura que esté detrás del contenido */
  }

  
/* AOS */
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
}

[data-aos="fade-up"] {
  transform: translateY(0);
}

[data-aos="fade-up"].aos-animate {
  transform: translateY(1);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
